html,body{
  background-color: black;
}

div.jumbotron{
  margin-bottom: 0px;
}


div.wordOnPic{
    padding-bottom: 0px;
}
.wordOnPic{
  position: relative;
  width: 100%; /* for IE 6 */

}

#change{
  position: absolute;
  color: white;
  top: 20%;
  left: 0;
  font-size: 40;
  width: 10%;
}
div.specialJumbo{
  padding-bottom: 200px;
}
